.tile {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173.25px;
  font-size: 60px;
  line-height: 64px;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  background-color: #3c3a32;
  transition: translate 0.3s ease;

  &_position-r0-c0 {
    translate: 15px 15px;
  }

  &_position-r0-c1 {
    translate: 203.25px 15px;
  }

  &_position-r0-c2 {
    translate: 391.5px 15px;
  }

  &_position-r0-c3 {
    translate: 579.75px 15px;
  }

  &_position-r1-c0 {
    translate: 15px 203.25px;
  }

  &_position-r1-c1 {
    translate: 203.25px 203.25px;
  }

  &_position-r1-c2 {
    translate: 391.5px 203.25px;
  }

  &_position-r1-c3 {
    translate: 579.75px 203.25px;
  }

  &_position-r2-c0 {
    translate: 15px 391.5px;
  }

  &_position-r2-c1 {
    translate: 203.25px 391.5px;
  }

  &_position-r2-c2 {
    translate: 391.5px 391.5px;
  }

  &_position-r2-c3 {
    translate: 579.75px 391.5px;
  }

  &_position-r3-c0 {
    translate: 15px 579.75px;
  }

  &_position-r3-c1 {
    translate: 203.25px 579.75px;
  }

  &_position-r3-c2 {
    translate: 391.5px 579.75px;
  }

  &_position-r3-c3 {
    translate: 579.75px 579.75px;
  }

  &_2 {
    background-color: #eee4da;
  }

  &_4 {
    background-color: #ede0c8;
  }

  &_8 {
    background-color: #f2b179;
  }

  &_16 {
    background-color: #f59563;
  }

  &_32 {
    background-color: #f59563;
  }

  &_64 {
    background-color: #f65e3b;
  }

  &_128 {
    background-color: #edcf72;
  }

  &_256 {
    background-color: #edcc61;
  }

  &_512 {
    background-color: #edc850;
  }

  &_1024 {
    background-color: #edc53f;
  }

  &_2048 {
    background-color: #edc53f;
  }
}
